*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #000;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
}

label.logo {
    font-size: 30px;
    color: #fff;
    line-height: 70px;
    margin-left: 20px;
}
nav ul {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    margin-top: 25px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    margin-left: 20px;
    color: #fff;
    font-size: 20px;
}
 
nav ul li a:hover {
    color: aqua;
}

.content {
    margin-top: 300px;
    margin-left: 40px;
    color: #fff;
}

.social-media {
    position: relative;
    right: 10px;
    bottom: 100px;
    float: right;
    line-height: 40px;
}

.social-media ul li {
    list-style-type: none;
}

.facebook:hover, .twitter:hover, .instagram:hover {
    transform: scale(1.8);
}

.view {
    position: relative;
    top: 15px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
}

.view img {
    background-color: #fff;
    margin-right: 10px;
}